* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/* Sidebar content start here */
.main-box {
  display: flex;
  flex-direction: row;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  width: 15%;
  height: 100vh;
}
.sidebar img {
  margin-top: 0;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35%;
  width: 100%;
  padding: 0;
}

.btns ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  align-content: center;
  justify-content: c;
  align-items: center;
}

.btns ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: left;
  width: 80%;
  margin: 7px 0px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  font-size: medium;
  cursor: pointer;
  padding: 0px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btns ul button {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: left;
  width: 80%;
  margin: 7px 0px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  font-size: medium;
  cursor: pointer;
  padding: 0px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btns ul li:hover {
  background-color: #f7f7f9;
}
#new-vid {
  background-color: #0098fe;
  color: white;
}
#new-vid:hover {
  background-color: #0b5ed7;
}

#new-vid i {
  margin-left: auto;
  margin-right: 10px;
}

#home {
  background-color: #eeeef0;
}

.btns li i {
  align-items: center;
  margin-right: 10px;
  font-size: medium;
}

/* Main Content styles start here */

/* Navbar starts here */
.main-content {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  width: 85%;
}

.header-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: transparent;
  padding: 3px 5px;
}

.header-search a {
  text-decoration: none;
  color: #3a3a3c;
  font-size: 1.7em;
}
.header-search a:hover {
  border-radius: 5px;
}

.header-search .nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 100%;
}

.nav-btn button {
  background-color: #0098fe;
  border: none;
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 13%;
}
.actions a {
  height: 100%;
  width: 25%;
  text-align: center;
}

.actions a:hover {
  background-color: #e4e3e3;
  border-radius: 5px;
}

.header-search .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.search input {
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
.search input[type="search"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  outline-width: 0px;
}

/* Navbar ends */

/* content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 15%;
  margin-top: 1%;
  padding-left: 50px;
  margin-bottom: 1%;
}

.greet-msg {
  height: 35%;
}
.display-1 {
  color: #464648;
}
.greet-msg h1 {
  margin: 0;
  height: 100%;
  color: #464648;
}

.create-btn {
  margin-top: 10px;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 65%;
}
.create-btn button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  width: 22%;
  height: 70%;
  border: none;
  background-color: #fff;
  border-radius: 0.7em;
  padding: 3px 5px;
  color: #464648;
  cursor: pointer;
  font-weight: 500;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.create-btn button i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf2f9;
  color: #399ad9;
  width: 20%;
  height: 80%;
  border: none;
  border-radius: 0.7em;
  margin-right: 5px;
}

.create-btn button:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
/* content button end */

/* Recent Videos start */
.rec-vids {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.heading {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}
.heading * {
  color: #464648;
}

.rec-vid-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pop-temp {
  height: auto;
  padding-left: 50px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.pop-temp h4 a {
  text-decoration: none;
  color: #3a3a3c;
}
.card {
  cursor: pointer;
}

/* Media queries for tablets */
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 10%;
  }

  .btns li {
    font-size: small;
    padding: 0px 5px;
  }

  .create-btn button {
    font-size: small;
  }
}

/* Media queries for smartphones */
@media only screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .header-search {
    justify-content: flex-end;
  }

  .search input {
    width: 60%;
  }

  .create-btn button {
    font-size: 0;
  }

  .create-btn button i {
    font-size: medium;
  }
  .rec-vids {
    padding: 0;
  }
  .rec-vid-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .pop-temp {
    padding: 0;
  }
}
